{% extends "::admin_base.html.twig" %}

{% block title %} Posts {% endblock %}

{% block admin_title %}Page Posts{% endblock %}

{% block admin_content %}

    {% if erreurMsg %}
            <div class="alert alert-danger">
                    <strong>Erreur!</strong> {{ erreurMsg }}
            </div>
    {% endif %}

    {% if successMsg %}
            <div class="alert alert-success">
                    <strong>Réussi!</strong> {{ successMsg }}
            </div>
    {% endif %}


    {% if mode == 'new' %}
            <form method="post" action="{{ path('global_admin_post_create') }}">
    {% endif %}

    {% if mode == 'edit' %}
        <form method="post" action="{{ path('global_admin_post_update', {'id': post.id}) }}">
    {% endif %}

    {% if mode == 'delete' %}
        <form method="post" action="{{ path('global_admin_post_delete', {'id': post.id}) }}">
    {% endif %}

                <div class="row">
                        <div class="form-group col-md-4">
                                <label>Sous-catégories:</label>
                                <select class="form-control" required name="subcategory_id">
                                        <option value="">Choisir</option>
                                    {% if mode == 'new'  %}
                                        {% for s in subcategories %}
                                            <option value="{{ s.id }}">{{ s.nomFr }} / {{ s.nomEn }} / {{ s.nomDe }}</option>
                                        {% endfor %}
                                    {% else %}
                                        {% for s in subcategories %}

                                            {% if post.subcategory.id == s.id %}
                                                <option selected value="{{ s.id }}">{{ s.nomFr }} / {{ s.nomEn }} / {{ s.nomDe }}</option>
                                            {% else %}
                                                <option value="{{ s.id }}">{{ s.nomFr }} / {{ s.nomEn }} / {{ s.nomDe }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    {% endif %}

                                </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label>Image:</label>
                                <input type="file" class="form-control" name="image_url"/>
                        </div>

                        <div class="form-group col-md-4">
                                Preview Image
                        </div>
                </div>


                <div class="input-group">
                        <i class="fa fa-list"></i>
                        <input type="text" name="title_fr" value="{{ post.titleFr }}" placeholder="Titre du post"  required>
                </div>
                <div class="input-group">
                        <i class="fa fa-list"></i>
                        <input type="text" name="title_en" value="{{ post.titleEn }}" placeholder="Post title"  required>
                </div>
                <div class="input-group">
                        <i class="fa fa-list"></i>
                        <input type="text" name="title_de" value="{{ post.titleDe }}" placeholder="Post titel"  required>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                        <div class="form-group col-md-4">
                                <label>Description du post:</label>
                                <textarea name="description_fr" placeholder="Description du post" rows="6"  required>{{ post.descriptionFr }}</textarea>
                        </div>

                        <div class="form-group col-md-4">
                                <label>Post description:</label>
                                <textarea name="description_en" placeholder="Post description" rows="6"  required>{{ post.descriptionEn }}</textarea>
                        </div>

                        <div class="form-group col-md-4">
                                <label>Post Beschreibung:</label>
                                <textarea name="description_de" placeholder="Post Beschreibung" rows="6"  required>{{ post.descriptionDe }}</textarea>
                        </div>
                </div>


                <button type="submit" class="btn btn-primary">Enregistrer / Modifier</button>
        </form>

        <br>

        <!--Bordered Table-->
        <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                        <th>Sous-catégorie</th>
                        <th>Titre/Francais</th>
                        <th>Title/Anglais</th>
                        <th>Titel/Allemand</th>
                        <th>Date de publication</th>
                        <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for p in posts %}
                        <tr>
                            <td>{{ p.subcategory.nomFr }} / {{ p.subcategory.nomEn }} / {{ p.subcategory.nomDe }}</td>
                            <td>{{ p.titleFr }}</td>
                            <td>{{ p.titleEn }}</td>
                            <td>{{ p.titleDe }}</td>
                            <td>{{ p.dateCreation | date('d/m/Y H:i:s') }}</td>
                            <td>
                                <a href="{{ path('global_admin_post_details', {'id' : p.id}) }}" class="btn btn-xs btn-info">Détails</a>
                                <a href="{{ path('global_admin_post_update', {'id' : p.id}) }}" class="btn btn-xs btn-success">Modifier</a>
                                <a href="{{ path('global_admin_post_details', {'id' : p.id}) }}" class="btn btn-xs btn-primary">Supprimer</a>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>

{% endblock %}