<!DOCTYPE html>
<html id="home-version-2" class="boxed-style">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google font-->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link href="{{ asset('/css/style.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">

        <!-- Flags icons css -->
        <link href="{{ asset('/css/flags/css/flag-icon.css') }}" rel="stylesheet">

        <!--Modernizr-->
        <script src="{{ asset('/js/modernizr.min.js') }}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
             ie8.css and ie8.js custom style  and script that needed for IE8. -->
        <!--[if lt IE 9]>
        <link href="{{ asset('/css/ie8.css') }}" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <script src="{{ asset('/js/ie8.js') }}"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <style>

            .sf-display-none{
                display: none !important;
            }

            .secondary {
                color: #f0f0f8 !important;
                background-color: #606068 !important;
                font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif !important;
                font-weight: bold !important;
            }

        </style>
    </head>
    <body>
        {% block body %}{% endblock %}

        <!--HEADER
                ==========-->
        <header>
            <!-- TOP NAVBAR
            =============== -->
            <nav class="navbar navbar-inverse" id="top-nav" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-nav-collapse">
                        <form class="navbar-form navbar-right" role="search">
                            <label class="sr-only" for="top_search_form">Search for</label>
                            <input id="top_search_form" type="search" placeholder="Search">
                            <button type="submit" >
                                <span class="fa fa-search"></span>
                                <span class="sr-only">Search/submit</span>
                            </button>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" title="Facebook"><span class="sc-sm sc-dark sc-facebook"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="sc-sm sc-dark sc-twitter"></span></a></li>
                            <li><a href="#" title="Google+"><span class="sc-sm sc-dark sc-googleplus"></span></a></li>
                            <li><a href="#" title="RSS"><span class="sc-sm sc-dark sc-rss"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav><!-- #top-nav -->

            <!-- MAIN NAVBAR
            ================ -->
            <nav class="navbar navbar-default" id="main-nav" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if (app.request.getLocale() == 'en') %}
                            <a class="navbar-brand" href="{{ path('global_admin') }}"><img src="{{ asset('/img/logo_global.png') }}" alt="logo"></a>
                        {% endif %}

                        {% if (app.request.getLocale() == 'fr') %}
                            <a class="navbar-brand" href="{{ path('global_admin') }}"><img src="{{ asset('/img/logo_global.png') }}" alt="logo"></a>
                        {% endif %}

                        {% if (app.request.getLocale() == 'de') %}
                            <a class="navbar-brand" href="{{ path('global_admin') }}"><img src="{{ asset('/img/logo_global.png') }}" alt="logo"></a>
                        {% endif %}

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="">
                                <a href="{{ path('global_admin_category') }}"> Gestion des categories </a>
                            </li>
                            <li class="">
                                <a href="{{ path('global_admin_subcategory') }}"> Gestion des sous categories </a>
                            </li>
                            <li class="">
                                <a href="{{ path('global_admin_post') }}"> Gestion des posts </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Réglages<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('global_admin_post') }}" class="">Logo</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('global_admin_post') }}" class="">Bandeau</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('global_admin_post') }}" class="">Slider</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle secondary" data-toggle="dropdown">{{ app.user.nom }} {{ app.user.prenom }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>

                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ path('global_logout') }}" class="">Déconnecter</a>
                                        {% else %}
                                            <a href="{{ path('global_login') }}" class="">Se connecter</a>
                                        {% endif %}

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav><!--#main-nav-->
        </header>

        <!-- CONTENT
        ============ -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- MAIN CONTENT
                    ================= -->
                    <main id="main-content" class="row">
                        <!-- MESSAGE FORM -->
                        <div class="widget message-form col-md-12">
                            <header class="clearfix"><h4>{% block admin_title %}Bienvenue sur la page d'administration{% endblock %}</h4></header>

                            {% block admin_content %}

                            {% endblock %}

                        </div>
                    </main><!--#main-content-->

                </div><!--.row-->
            </div><!--.container-->
        </div><!--#content-->

        <footer>
            <!-- FOOTER BOTTOM
            ================== -->
            <div id="footer-bottom">
                <div class="container">
                    <p>Copyright &copy; 2017 - <strong>TheGlobalView</strong></p>
                </div>
            </div><!--#footer-bottom-->
        </footer><!--footer-->


        <!-- jQuery  -->
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/jquery-ui.custom.min.js') }}"></script>

        <!-- Warta scripts -->
        <script src="{{ asset('/js/script.min.js') }}"></script>
        <script src="{{ asset('/js/initialize.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
