<!DOCTYPE html>
<html id="home-version-2" class="boxed-style">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'head.title'|trans }}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google font-->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

        <!-- Stylesheets -->
        <link href="{{ asset('/css/style.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/custom.css') }}" rel="stylesheet">

        <!-- Flags icons css -->
        <link href="{{ asset('/css/flags/css/flag-icon.css') }}" rel="stylesheet">

        <!--Modernizr-->
        <script src="{{ asset('/js/modernizr.min.js') }}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
             ie8.css and ie8.js custom style  and script that needed for IE8. -->
        <!--[if lt IE 9]>
        <link href="{{ asset('/css/ie8.css') }}" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <script src="{{ asset('/js/ie8.js') }}"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <!--HEADER
                ==========-->
        <header>
            <!-- TOP NAVBAR
            =============== -->
            <nav class="navbar navbar-inverse" id="top-nav" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-nav-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">{{ 'toplink.home'|trans }}</a></li>
                            <li><a href="#">{{ 'toplink.about'|trans }}</a></li>
                            <li><a href="#">{{ 'toplink.contact'|trans }}</a></li>
                        </ul>

                        <form class="navbar-form navbar-right" role="search">
                            <label class="sr-only" for="top_search_form">Search for</label>
                            <input id="top_search_form" type="search" placeholder="Rechercher">
                            <button type="submit" >
                                <span class="fa fa-search"></span>
                                <span class="sr-only">Search/submit</span>
                            </button>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" title="Facebook"><span class="sc-sm sc-dark sc-facebook"></span></a></li>
                            <li><a href="#" title="Twitter"><span class="sc-sm sc-dark sc-twitter"></span></a></li>
                            <li><a href="#" title="Google+"><span class="sc-sm sc-dark sc-googleplus"></span></a></li>
                            <li><a href="#" title="RSS"><span class="sc-sm sc-dark sc-rss"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav><!-- #top-nav -->

            <!-- MAIN NAVBAR
            ================ -->
            <nav class="navbar navbar-default" id="main-nav" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% include 'home_link.html.twig' %}

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="{{ path('global_view_homepage') }}"><i class="fa fa-home"></i></a></li>

                            {% for ca in categories %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ ca.libelleFr }} <b class="caret"></b></a>
                                        {% if  ca.subcategories is not empty %}
                                            <ul class="dropdown-menu">
                                                {% for s in ca.subcategories %}
                                                    <li><a href="{{ path('global_view_posts_by_subcategory', {'id' : s.id, '_locale' : 'fr'}) }}">{{ s.nomFr }} </a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>

                            {% endfor %}

                            {% include 'lang_link.html.twig' %}
                        </ul>
                    </div>
                </div>
            </nav><!--#main-nav-->

            <!-- PAGE TITLE -->
            <div id="title">
                <div class="image-light"></div>
                <div class="container">
                    <div class="title-container hide">
                        <h1 class="primary">Just another news/magazine website template</h1>
                        <p class="secondary">It's simple yet beautiful</p>
                    </div>
                </div>
            </div>
        </header>

        <!-- CONTENT
        ============ -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- MAIN CONTENT
                    ================= -->
                    <main id="main-content" class="col-md-8">
                        <!-- BREAKING NEWS -->
                        <section class="breaking-news">
                            <header>
                                <h4>Dernières nouvelles</h4>
                                <i class="triangle"></i>
                            </header>
                            <div class="content">
                                <ul>
                                    {% for p in popularPosts %}
                                        <li><a href="{{ path('global_view_post_detail', {'id' : p.id, '_locale' : 'fr'}) }}"><i class="fa fa-angle-double-right"></i> {{ p.titleFr }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </section>

                        <!-- CAROUSEL  -->
                        {% block carousel_content %}
                            {% include 'carousel.html.twig' %}
                        {% endblock %}

                        <div class="articles">
                            {% block article_content %}{% endblock %}
                        </div>


                    </main><!--#main-content-->

                    <!-- SIDEBAR
                    ============ -->
                    <aside class="col-md-4">
                        <div class="row">

                            <!-- SOCIALS WIDGET -->
                            <section class="col-sm-6 col-md-12 widget">
                                <!-- Widget header -->
                                <header class="clearfix"><h4>Réseaux sociaux</h4></header>

                                <!-- Widget content -->
                                <ul class="social clearfix">
                                    <li><a href="#" title="Facebook "><span class="sc-md sc-facebook"></span></a></li>
                                    <li><a href="#" title="Twitter"><span class="sc-md sc-twitter"></span></a></li>
                                    <li><a href="#" title="YouTube"><span class="sc-md sc-youtube"></span></a></li>
                                    <li><a href="#" title="LinkedIn"><span class="sc-md sc-linkedin"></span></a></li>
                                    <li><a href="#" title="Google+"><span class="sc-md sc-googleplus"></span></a></li>
                                    <li><a href="#" title="Instagram"><span class="sc-md sc-instagram"></span></a></li>
                                    <li><a href="#" title="Pinterest"><span class="sc-md sc-pinterest"></span></a></li>
                                    <li><a href="#" title="SoundCloud"><span class="sc-md sc-soundcloud"></span></a></li>
                                    <li><a href="#" title="Flickr"><span class="sc-md sc-flickr"></span></a></li>
                                    <li><a href="#" title="Myspace "><span class="sc-md sc-myspace"></span></a></li>
                                    <li><a href="#" title="deviantART"><span class="sc-md sc-deviantart"></span></a></li>
                                    <li><a href="#" title="Vimeo"><span class="sc-md sc-vimeo"></span></a></li>
                                    <li><a href="#" title="XING"><span class="sc-md sc-xing"></span></a></li>
                                    <li><a href="#" title="Last.fm"><span class="sc-md sc-lastfm"></span></a></li>
                                    <li><a href="#" title="Tumblr"><span class="sc-md sc-tumblr"></span></a></li>
                                    <li><a href="#" title="Behance"><span class="sc-md sc-behance"></span></a></li>
                                    <li><a href="#" title="GitHub"><span class="sc-md sc-github"></span></a></li>
                                    <li><a href="#" title="Dribbble "><span class="sc-md sc-dribbble"></span></a></li>
                                </ul>
                            </section>

                            <!-- GALLERY WIDGET -->
                            <section class="col-sm-6 col-md-12 widget no-mobile">
                                <!-- Widget Header -->
                                <header class="clearfix">
                                    <h4>Galerie</h4>
                                    <a href="#carousel-small" class="control" data-slide="next">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <a href="#carousel-small" class="control" data-slide="prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>

                                </header>

                                <!-- Widget content: carousel gallery -->
                                <div id="carousel-small" class="carousel slide carousel-small frame" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="item-inner">
                                                <a href="http://placehold.it/1024x512.jpg" title="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget" data-lightbox-gallery="gallery-small">
                                                    <div data-src="http://placehold.it/350x185" data-alt="Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget"></div>
                                                    <div class="image-light"></div>
                                                </a>
                                                <div class="caption">
                                                    <h5>Nunc ut dolor nec mi posuere tincidunt quis ut sem Praesent pharetra eget</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-inner">
                                                <a href="http://placehold.it/1024x512.jpg" title="vestibulum ultricies Ut sollicitudin eget massa et lobortis" data-lightbox-gallery="gallery-small">
                                                    <div data-src="http://placehold.it/350x185" data-alt="vestibulum ultricies Ut sollicitudin eget massa et lobortis"></div>
                                                    <div class="image-light"></div>
                                                </a>
                                                <div class="caption">
                                                    <h5>vestibulum ultricies Ut sollicitudin eget massa et lobortis</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-inner">
                                                <a href="http://placehold.it/1024x512.jpg" title="Bird Profile Wellington New Zealand Vivamus ac neque sed" data-lightbox-gallery="gallery-small">
                                                    <div data-src="http://placehold.it/350x185" data-alt="Bird Profile Wellington New Zealand Vivamus ac neque sed"></div>
                                                    <div class="image-light"></div>
                                                </a>
                                                <div class="caption">
                                                    <h5>Bird Profile Wellington New Zealand Vivamus ac neque sed</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-inner">
                                                <a href="http://placehold.it/1024x512.jpg" title="dui placerat dictum Suspendisse ut justo venenatis imperdiet" data-lightbox-gallery="gallery-small">
                                                    <div data-src="http://placehold.it/350x185" data-alt="dui placerat dictum Suspendisse ut justo venenatis imperdiet"></div>
                                                    <div class="image-light"></div>
                                                </a>
                                                <div class="caption">
                                                    <h5>dui placerat dictum Suspendisse ut justo venenatis imperdiet</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--.carousel-inner-->
                                </div><!--.carousel-->

                                <!--Shadow-->
                                <img src="{{ asset('/img/shadow.png') }}" class="shadow" alt="shadow">
                            </section>

                            <!-- FEEDBURNER WIDGET -->
                            <section class="hide col-sm-6 col-md-12 widget feedburner">
                                <!-- Widget Header -->
                                <header class="clearfix"><h4>Feedburner</h4></header>

                                <!-- Widget Content -->
                                <form action    ="http://feedburner.google.com/fb/a/mailverify"
                                      method    ="post"
                                      target    ="popupwindow"
                                      onsubmit  ="window.open(
                                                                                        'http://feedburner.google.com/fb/a/mailverify?uri=YOUR_FEEDBURNER_URI', // Change YOUR_FEEDBURNER_URI with your actual FeedBurner URI.
                                                                                        'popupwindow',
                                                                                        'scrollbars=yes,width=550,height=520'
                                                                                );return true"
                                >
                                    <div class="input-group">
                                        <i class="fa fa-envelope"></i>
                                        <input type="text" name="email" placeholder="Enter your email address" />
                                    </div>
                                    <input type="hidden" value="YOUR_FEEDBURNER_URI" name="uri"/><!-- Change YOUR_FEEDBURNER_URI with your actual FeedBurner URI. -->
                                    <input type="hidden" name="loc" value="en_US"/>
                                    <input type="submit" value="Subscribe" />
                                </form>
                            </section>

                            <!-- YOUTUBE WIDGET -->
                            <section class="hide col-sm-6 col-md-12 widget">
                                <!-- Widget Header -->
                                <header class="clearfix"><h4>Youtube Video</h4></header>

                                <!-- Widget content: Youtube embed code -->
                                <iframe width="360" height="203" src="//www.youtube.com/embed/3AhivlZO0us" allowfullscreen></iframe>
                            </section>

                            <!-- TABS WIDGET -->
                            <section class="col-sm-6 col-md-12 widget">
                                <!-- Tab menus -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#popular-aside" data-toggle="tab">Populaires</a></li>
                                    <li class="hide"><a href="#recent-aside" data-toggle="tab">Récents</a></li>
                                    <li class="hide"><a href="#comments-aside" data-toggle="tab">Comments</a></li>
                                </ul>

                                <!-- Tab contents -->
                                <div class="tab-content">
                                    <!--Popular-->
                                    <div class="tab-pane active fade in" id="popular-aside">

                                        {% for p in popularPosts %}
                                            <div class="article-tiny">
                                                <a href="#" class="image">
                                                    <figure class="image-holder">
                                                        {% if p.imageUrl %}
                                                            <img src="{{ asset('/uploads/articles/' ~ p.imageUrl ) }}" width="95px" height="75px" />
                                                        {% else %}
                                                            <img src="http://placehold.it/95x75" alt="">
                                                        {% endif %}
                                                    </figure>
                                                    <div class="image-light"></div>
                                                    <span class="dashicons dashicons-format-gallery"></span>
                                                </a>
                                                <h5><a href="{{ path('global_view_post_detail', {'id' : p.id, '_locale' : 'fr'}) }}">{{ p.titleFr }}</a></h5>
                                                <p class="post-meta">
                                                    <a href="#"><span class="fa fa-clock-o"></span> {{ p.dateCreation | date('d/m/Y H:i:s') }}</a> &nbsp;
                                                    <a href="{{ path('global_view_posts_by_subcategory', {'id' : p.subcategory.id, '_locale' : 'fr'}) }}">
                                                        <span class="fa fa-folder"></span> {{ p.subcategory.nomFr }}</a>
                                                </p>
                                            </div>
                                            <hr>

                                        {% endfor %}

                                    </div>

                                    <!--Recent-->
                                    <div class="tab-pane fade hide" id="recent-aside">
                                        <div class="article-tiny">
                                            <a href="#" class="image">
                                                <figure class="image-holder">
                                                    <img src="http://placehold.it/95x75" alt="Day of the dead Maecenas odio condimentum a libero ">
                                                </figure>
                                                <div class="image-light"></div>
                                                <span class="dashicons dashicons-format-gallery"></span>
                                            </a>
                                            <h5><a href="#">Day of the dead Maecenas odio condimentum a libero</a></h5>
                                            <p class="post-meta">
                                                <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                                <a href="#"><span class="fa fa-folder"></span> National</a>
                                            </p>
                                        </div>
                                        <hr>

                                        <div class="article-tiny">
                                            <a href="#" class="image">
                                                <figure class="image-holder">
                                                    <img src="http://placehold.it/95x75" alt="Nulla vitae velit ac velit luctus facilisis dictum Mauris malesuada ante ut gravida condimentum">
                                                </figure>
                                                <div class="image-light"></div>
                                                <span class="dashicons dashicons-format-audio"></span>
                                            </a>
                                            <h5><a href="#">Morocco molestie hendrerit magna Morbi tristique</a></h5>
                                            <p class="post-meta">
                                                <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                                <a href="#"><span class="fa fa-folder"></span> Politics</a>
                                            </p>
                                        </div>
                                        <hr>

                                        <div class="article-tiny">
                                            <a href="#" class="image">
                                                <figure class="image-holder">
                                                    <img src="http://placehold.it/95x75" alt="Nulla id eros ut nibh hendrerit sollicitudin ">
                                                </figure>
                                                <div class="image-light"></div>
                                                <span class="dashicons dashicons-format-links"></span>
                                            </a>
                                            <h5><a href="#">Douglas X3 Nulla id eros ut nibh hendrerit sollicitudin</a></h5>
                                            <p class="post-meta">
                                                <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                                <a href="#"><span class="fa fa-folder"></span> Science</a>
                                            </p>
                                        </div>
                                        <hr>

                                        <div class="article-tiny">
                                            <a href="#" class="image">
                                                <figure class="image-holder">
                                                    <img src="http://placehold.it/95x75" alt="ornare nibh Nunc semper dolor quis augue venenatis ">
                                                </figure>
                                                <div class="image-light"></div>
                                                <span class="dashicons dashicons-format-links"></span>
                                            </a>
                                            <h5><a href="#">Nepal ornare nibh Nunc semper purus sit amet rhoncus imperdiet</a></h5>
                                            <p class="post-meta">
                                                <a href="#"><span class="fa fa-clock-o"></span> Jan 4, 2014</a> &nbsp;
                                                <a href="#"><span class="fa fa-folder"></span> World</a>
                                            </p>
                                        </div>
                                        <hr>
                                    </div>

                                    <!--Comments-->
                                    <div class="hide tab-pane fade" id="comments-aside">
                                        <ul class="recent-comments clearfix">
                                            <li>
                                                <div class="avatar">
                                                    <a href="#" class="light">
                                                        <img src="http://placehold.it/75x75" alt="Siska">
                                                        <div class="layer"></div>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="comment-content">
                                                        <a href="#">Aliquam sollicitudin massa eu augue hendrerit</a>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#"><i class="fa fa-user"></i> Siska</a>&nbsp;
                                                        <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="avatar">
                                                    <a href="#" class="light">
                                                        <img src="http://placehold.it/75x75" alt="Fahri">
                                                        <div class="layer"></div>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="comment-content">
                                                        <a href="#">Fusce viverra ligula elit aliquam vel turpis ut</a>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#" class="author"><i class="fa fa-user"></i> Fahri</a>&nbsp;
                                                        <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="avatar">
                                                    <a href="#" class="light">
                                                        <img src="http://placehold.it/75x75" alt="Rahma">
                                                        <div class="layer"></div>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="comment-content">
                                                        <a href="#">eget facilisis erat aliquet tempus mi ligula consequat</a>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#" class="author"><i class="fa fa-user"></i> Rahma</a>&nbsp;
                                                        <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="avatar">
                                                    <a href="#" class="light">
                                                        <img src="http://placehold.it/75x75" alt="Rusli">
                                                        <div class="layer"></div>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="comment-content">
                                                        <a href="#">lacus sit amet tincidunt odio massa quis felis</a>
                                                    </div>
                                                    <div class="comment-meta">
                                                        <a href="#" class="author"><i class="fa fa-user"></i> Rusli</a>&nbsp;
                                                        <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>



                            <!-- ADS WIDGET -->
                            <section class="widget col-sm-6 col-md-12 no-mobile">
                                <!-- Widget Header -->
                                <header class="clearfix"><h4>Publicités</h4></header>

                                <!-- Widget Content -->
                                <div class="frame thick">
                                    <a href="#"><div data-src="http://placehold.it/300x250/f0f0f9" data-alt="Banner image"></div></a>
                                </div>
                                <img src="{{ asset('/img/shadow.png') }}" class="shadow" alt="shadow">
                            </section>

                            <!-- VIMEO WIDGET -->
                            <section class="hide col-sm-6 col-md-12 widget">
                                <!-- Widget header -->
                                <header class="clearfix"><h4>Vimeo Video</h4></header>

                                <!-- Widget content: Vimeo embed code -->
                                <iframe src="//player.vimeo.com/video/83480879" width="360" height="203" allowfullscreen></iframe>
                            </section>

                            <!-- TABS: CATEGORIES AND TAGS -->
                            <section class="col-sm-6 col-md-12 widget">
                                <!-- Widget header: tab menu -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#categories" data-toggle="tab">Catégories</a></li>
                                </ul><!--.nav-tabs-->

                                <!-- Tab contents -->
                                <div class="tab-content">
                                    <!-- Categories-->
                                    <div class="tab-pane active fade in" id="categories">
                                        <ul class="categories">
                                            {% for ca in categories %}
                                                <li><a href="#"><i class="fa fa-angle-right"></i> {{ ca.libelleFr }} <span class="post-counts">{{ ca.subcategories|length }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div><!--.tab-content-->
                            </section>

                            <!-- ACCORDION -->
                            <section class="hide col-sm-6 col-md-12 widget">
                                <!--Widget header-->
                                <header class="clearfix"><h4>Accordion</h4></header>

                                <!--Widget content-->
                                <div class="accordion">
                                    <div class="header active"><h5>Home</h5><i class="fa fa-plus"></i></div>
                                    <div class="content">
                                        <p>
                                            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                                            ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                                            amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                                            odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                                        </p>
                                    </div>

                                    <div class="header"><h5>Profile</h5><i class="fa fa-plus"></i></div>
                                    <div class="content">
                                        <p>
                                            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                                            purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                                            velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                                            suscipit faucibus urna.
                                        </p>
                                    </div>

                                    <div class="header"><h5>Messages</h5><i class="fa fa-plus"></i></div>
                                    <div class="content">
                                        <p>
                                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                                            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                                            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                                            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                                        </p>
                                    </div>

                                    <div class="header"><h5>Settings</h5><i class="fa fa-plus"></i></div>
                                    <div class="content">
                                        <p>
                                            Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                                            et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                                            faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                                            mauris vel est.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div><!--.row-->
                    </aside>
                </div><!--.row-->

                <!-- SLIDER TABS WIDGET: GALLERY -->
                <section id="slider-tabs" class="hide widget no-mobile">
                    <!-- Widget header -->
                    <ul class="nav nav-tabs">
                        <!--Title-->
                        <li class="active"><a href="#gallery">Gallery</a></li>

                        <!--Slider Controls-->

                        <li class="pull-right control current"><a href="#gallery" data-slide="next"><span class="fa fa-chevron-right"></span></a></li>
                        <li class="pull-right control current"><a href="#gallery" data-slide="prev"><span class="fa fa-chevron-left"></span></a></li>
                    </ul>

                    <!-- Tab Contents -->
                    <div class="tab-content">
                        <!-- Gallery Tab Content -->
                        <div class="tab-pane active" id="gallery">
                            <div class="slider-container">
                                <ul class="da-thumbs">
                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Mauris venenatis facilisis sem vel feugiat enim gravida vitae" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Mauris venenatis facilisis sem vel feugiat enim gravida vitae"></div>
                                            <div class="image-caption">
                                                <h5>Mauris venenatis facilisis sem vel feugiat enim gravida vitae</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Maecenas ac quam tortor Integer sed ullamcorper justo" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Maecenas ac quam tortor Integer sed ullamcorper justo"></div>
                                            <div class="image-caption">
                                                <h5>Maecenas ac quam tortor Integer sed ullamcorper justo</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Placerat sollicitudin purus Fusce sit amet ullamcorper" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Placerat sollicitudin purus Fusce sit amet ullamcorper"></div>
                                            <div class="image-caption">
                                                <h5>Placerat sollicitudin purus. Fusce sit amet ullamcorper</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Donec tincidunt sem ligula eget tristique nisl mollis sed" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Donec tincidunt sem ligula eget tristique nisl mollis sed"></div>
                                            <div class="image-caption">
                                                <h5>Donec tincidunt sem ligula eget tristique nisl mollis sed</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Curabitur ultricies leo eget elit ornare eu fermentum" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Curabitur ultricies leo eget elit ornare eu fermentum"></div>
                                            <div class="image-caption">
                                                <h5>Curabitur ultricies leo eget elit ornare eu fermentum</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Aliquam mattis volutpat nisi" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Aliquam mattis volutpat nisi"></div>
                                            <div class="image-caption">
                                                <h5>Aliquam mattis volutpat nisi</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Nullam placerat lorem a leo sagittis nec mattis felis vehicula" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Nullam placerat lorem a leo sagittis nec mattis felis vehicula"></div>
                                            <div class="image-caption">
                                                <h5>Nullam placerat lorem a leo sagittis nec mattis felis vehicula</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="In laoreet tristique leo non iaculis ipsum scelerisque sit" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="In laoreet tristique leo non iaculis ipsum scelerisque sit"></div>
                                            <div class="image-caption">
                                                <h5>In laoreet tristique leo non iaculis ipsum scelerisque sit</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Suspendisse molestie odio a purus eleifend posuere" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Suspendisse molestie odio a purus eleifend posuere"></div>
                                            <div class="image-caption">
                                                <h5>Suspendisse molestie odio a purus eleifend posuere</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Suspendisse at lacus eleifend fringilla nunc" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Suspendisse at lacus eleifend fringilla nunc"></div>
                                            <div class="image-caption">
                                                <h5>Suspendisse at lacus eleifend fringilla nunc</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="id porta nisl In imperdiet risus" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="id porta nisl In imperdiet risus"></div>
                                            <div class="image-caption">
                                                <h5>Id porta nisl In imperdiet risus</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="eget nibh laoreet varius" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="eget nibh laoreet varius"></div>
                                            <div class="image-caption">
                                                <h5>Eget nibh laoreet varius</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Nullam tristique mauris dolor" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Nullam tristique mauris dolor"></div>
                                            <div class="image-caption">
                                                <h5>Nullam tristique mauris dolor</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Morbi euismod tincidunt sem" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Morbi euismod tincidunt sem"></div>
                                            <div class="image-caption">
                                                <h5>Morbi euismod tincidunt sem</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="bibendum tristique lacus adipiscing sed" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="bibendum tristique lacus adipiscing sed"></div>
                                            <div class="image-caption">
                                                <h5>Bibendum tristique lacus adipiscing sed</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="Pellentesque vitae risus eu orci" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="Pellentesque vitae risus eu orci"></div>
                                            <div class="image-caption">
                                                <h5>Pellentesque vitae risus eu orci</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://placehold.it/1024x512.jpg.jpg" title="tempus laoreet ac quis nisl" data-lightbox-gallery="silder-tabs-gallery">
                                            <div data-src="http://placehold.it/180x180" data-alt="tempus laoreet ac quis nisl"></div>
                                            <div class="image-caption">
                                                <h5>tempus laoreet ac quis nisl</h5>
                                            </div>
                                            <span class="image-light"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!--.container-->
        </div><!--#content-->

        <footer>
            <!-- MAIN FOOTER
            ================ -->
            <div id="footer-main">
                <div class="container">
                    <div class="row">
                        <!-- Flickr Feed -->
                        <section class="col-md-3 col-sm-6">
                            <div class="title"><h4>Flickr Feed</h4></div>
                            <ul id="flickr-feed-footer" class="flickr-feed clearfix">
                                <li><i class="fa fa-spinner fa-spin"></i> Please wait...</li>
                                <li>
                                    <script type="text/template">
                                        <li>
                                            <a href="#" title="" class="dark" target="_blank">
                                                <img src="" alt="">
                                                <div class="layer"></div>
                                            </a>
                                        </li>
                                    </script>
                                </li>
                            </ul>
                        </section>

                        <!-- Categories -->
                        <section class="col-md-3 col-sm-6">
                            <!--Title-->
                            <div class="title"><h4>Categories</h4></div>

                            <!--Content-->
                            <ul class="tags clearfix">
                                {% for ca in categories %}
                                    <li><a href="#">{{ ca.libelleFr }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>

                        <!-- Recent Comments -->
                        <section class="col-md-3 col-sm-6">
                            <!--Title-->
                            <div class="title"><h4>Videos</h4></div>

                            <!--Content-->
                            <ul class="recent-comments clearfix hide">
                                <li>
                                    <div class="avatar">
                                        <a href="#" class="dark">
                                            <img src="http://placehold.it/75x75" alt="Siska">
                                            <div class="layer"></div>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="comment-content">
                                            <a href="#">Aliquam sollicitudin massa eu augue hendrerit</a>
                                        </div>
                                        <div class="comment-meta">
                                            <a href="#"><i class="fa fa-user"></i> Siska</a>&nbsp;
                                            <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar">
                                        <a href="#" class="dark">
                                            <img src="http://placehold.it/75x75" alt="Fahri">
                                            <div class="layer"  ></div>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="comment-content">
                                            <a href="#">Fusce viverra ligula elit aliquam vel turpis ut</a>
                                        </div>
                                        <div class="comment-meta">
                                            <a href="#" class="author"><i class="fa fa-user"></i> Fahri</a>&nbsp;
                                            <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar">
                                        <a href="#" class="dark">
                                            <img src="http://placehold.it/75x75" alt="Rahma">
                                            <div class="layer"></div>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="comment-content">
                                            <a href="#">eget facilisis erat aliquet tempus mi ligula</a>
                                        </div>
                                        <div class="comment-meta">
                                            <a href="#" class="author"><i class="fa fa-user"></i> Rahma</a>&nbsp;
                                            <a href="#"><i class="fa fa-clock-o"></i> Jan 13, 2014</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>

                        <!-- Contact Form -->
                        <section class="col-md-3 col-sm-6">
                            <div class="title"><h4>Nous contacter</h4></div>
                            <form class="contact-form">
                                <p class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" placeholder="Nom complet*" required>
                                </p>
                                <p class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" placeholder="Email  *" required>
                                </p>
                                <p class="input-group">
                                    <i class="fa fa-link"></i>
                                    <input type="text" placeholder="Site web">
                                </p>
                                <p>
                                    <textarea placeholder="Message *" rows="6"></textarea>
                                </p>
                                <p>
                                    <input type="submit" value="Envoyer" class="btn btn-dark">
                                </p>
                            </form>
                        </section>
                    </div><!--.row-->
                </div><!--.container-->
            </div><!--#footer-main-->

            <!-- FOOTER BOTTOM
            ================== -->
            <div id="footer-bottom">
                <div class="container">
                    <p>Copyright &copy; 2017 - <strong>TheGlobalView</strong></p>
                </div>
            </div><!--#footer-bottom-->
        </footer><!--footer-->


        <!-- jQuery  -->
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/jquery-ui.custom.min.js') }}"></script>

        <!-- Warta scripts -->
        <script src="{{ asset('/js/script.min.js') }}"></script>
        <script src="{{ asset('/js/initialize.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
